<div id="<%= dom_id team %>">
  <div class="wa-stack">
      <div class="wa-split">
        <% ["pg", "sg", "sf", "pf", "c"].each do |pos| %>
          <div class="wa-stack wa-align-items-center">
            <div class="wa-frame" style="max-inline-size: 10rem;">
              <% player = instance_variable_get("@#{pos}_id") %>
              <%= image_tag "headshots/#{Player.find(player).headshot_file_name}", size: "100" %>
            </div>
            <%= "Position: #{Player.find(player).position.upcase}" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
