<h1>Build a Team</h1>

<div class="wa-split wa-justify-content-center" style="max-width: 600px;">
  <div class="wa-frame">PG</div>
  <div class="wa-frame">SG</div>
  <div class="wa-frame">SF</div>
  <div class="wa-frame">PF</div>
  <div class="wa-frame">C</div>
</div>
