<h1>Build a Team</h1>

<div class="wa-stack wa-space-x-2">
  <p>
    Select players to make the best team. Click the little hooper to start a new game
  </p>

  <p>
    <!-- <wa-button href=<%= new_team_path %>>Create a team</wa-button> -->
    <a href="<%= new_team_path %>"><wa-button variant="neutral" appearance="outlined"><wa-icon name="person-basketball" family="duotone" variant="solid" style="--primary-color: rgb(10, 67, 168); --secondary-color: rgb(10, 67, 168);"></wa-icon></wa-button></a>
  </p>
</div>
